.tbox {position:absolute; 
	display:none; 
	background: white; 
	border:5px solid #457dd8; 
	padding:20px;
	z-index:2000;
	font-family: 'serif';
	}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

